/*Estilo de la calculadora | Calculator Style*/

/*Estilos Generales | General Styles*/
body {
  background-color: #3D405B;
  font-family: monospace;
}

h1 {
  background-color: rgb(0, 0, 0, 0.5);
  color: #EDDDD4;
  text-transform: uppercase;
  width: 100%;
  font-size: 40px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}

/*Calculadora | Calculator*/
.calculator-main {
  width: 380px;
  height: 440px;
  background-color: rgb(0, 0, 0, 0.5);
  box-shadow: #1b2432 0px 0px 40px 0px;
  position: relative;
  transition: all 0.2s ease-in;
}

.container-input {
  position: absolute;
  margin-top: 25px;
  width: 75%;
}

#calculator-input {
  width: 100%;
  height: 100%;
  border: 2px solid #EDDDD4;
  font-size: 25px;
  color: #EDDDD4;
  background-color: rgb(0, 0, 0, 0.5);
}

/*Contenedor de los botones | Buttons container*/
.main-buttons{
  position: absolute;
  margin-top: 90px;
}

.button {
  width: 55px;
  height: 55px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 8px;
  color: #14213d;
  border: 3px solid #14213d;
  transition: all 0.2s ease-in;
}

.button:active {
  transform: translate(3px, 3px);
  background-color: #81B29A !important;
  color: #EDDDD4 !important;
}

.btn:hover {
  background-color: #81B29A;
  border: 3px solid #EDDDD4;
  box-shadow: 3px 3px #81B29A;
  color: #EDDDD4;
}

.color-symbol {
  text-transform: uppercase;
  background: #f4a261;
  box-shadow: 3px 3px #f4a261;
}

.color-delate1 {
  text-transform: uppercase;
  background: #da2c38;
  box-shadow: 3px 3px #da2c38;

}

.color-delate2 {
  background: #118ab2;
  box-shadow: 3px 3px #118ab2;

}

.color-number {
  background: #8d99ae;
  box-shadow: 3px 3px #8d99ae;
}

.color-equal {
  background: #2a9d8f;
  box-shadow: 3px 3px #2a9d8f;

}

/*Pie de pagina | Footer*/
.dark-section {
  color: #f5f6f7;
  background-color: #1b1b32;
}

footer {
  min-height: 400px;
}

.footer-page {
  margin-top: 200px;
}

.footer-icon {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-text {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}

.social-media-icons a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.social-media-icons i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.social-media-icons a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.social-media-icons a:hover i {
  color: black;
}

.Copyright {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}