/* Estilos generales | General styles */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #3D405B;
}

h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.5);
    color: #EDDDD4;
}


/*---------------------------*/
/* Contenedor principal | Main container */
.calculator-main {
    max-width: 400px;
    margin: auto;
    margin-top: 2%;
    padding: 20px;
    border-radius: 25px;
    background-color: rgb(0, 0, 0, 0.5);
    box-shadow: #1b2432 0px 0px 40px 0px
}

.container-input {
    margin-bottom: 15px;
}

#calculator-input{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #EDDDD4;
    background-color: rgb(0, 0, 0, 0.5);;
    color: #EDDDD4;
}

.main-buttons {
    display: flex;
    flex-direction: column;
}

.column{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button{
    font-size: 20px;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #8d99ae;
    color: #14213d;
    border: 3px solid #EDDDD4;
}

.button-equal {
    background-color: #2a9d8f;
}

.button-symbol{
    background-color: #f4a261;
}

.button-delate1{
    background-color: #da2c38;
}

.button-delate2{
    background-color: #118ab2;
}

.button:active {
    transform: translate(3px, 3px);
    background-color: #81B29A;
    color: #EDDDD4;
}


/*---------------------------*/
/*Pie de pagina | Footer*/
footer {
    margin-top: 100px;
    min-height: 500px;
    margin-top: 200px;
    background-color: #1b1b32;
    color: #fff;
}

.footer_text_f {
    font-size: 1.5rem;
}

.footer_text {
    margin-top: 30px;
    font-size: 1.2rem;
    color: #FFFFFF;
}

.footer_icon {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.social_media_icons a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.social_media_icons i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.social_media_icons a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.social_media_icons a:hover i {
    color: black;
}

.Copyright {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

.contact button:hover i {
    color: black;
}


/*---------------------------*/
/* Responsive */
@media screen and (max-width: 420px) {
    h1{
        font-size: 35px;
    }
}